[submodule "themes/yinyang"]
	path = themes/yinyang
	url = https://github.com/joway/hugo-theme-yinyang.git
[submodule "hugo-theme-yinyang"]
	path = hugo-theme-yinyang
	url = https://github.com/joway/hugo-theme-yinyang.git
